* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul{
    list-style: none;
  }
  li{
    width: 20%;
  }

  img{
    width: 40%;
  }
  .no-show{
    display: none;
  }